<!DOCTYPE html>
<html lang="en">
<head>
    {{> metadata}}
</head>
<body class="page-front">
{{> header}}
<section id="content">
    <div class="container">
        <header class="header row">
            <div class="right">
                <h1>{{message}}</h1>
            </div>
        </header>
    </div>
</section>
{{> footer}}
</body>
</html>
