<!DOCTYPE html>
<html lang="en">
<head>
    {{> metadata}}
</head>
<body class="page-front">
{{> header}}
<section id="content">
    <div class="container">
        {{> slogan}}

        <div class="cover two-by-one" style="background-image: url('/assets/expertise.jpeg')"></div>

        <div class="row" id="services">
            <div class="left">
                <h2>我们做什么</h2>
            </div>
            <div class="right">
                <div class="narrow">
                    <p></p>
                </div>
                <h3>设计</h3>
                <ul class="columns">
                    <li>UI &amp; UX 设计</li>
                </ul>
                <h3>开发</h3>
                <ul class="columns">
                    <li>微信开发（H5、小程序）</li>
                    <li>网站开发</li>
                    <li>APIs & 微服务</li>
                </ul>
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <h2>我们是谁</h2>-->
<!--            </div>-->
<!--            <div class="right">-->
<!--                <ul class="list margin-bottom">-->
<!--                    <li>-->
<!--                        <h3>We’re not an outsourcing shop or a branding/PR agency.</h3>-->
<!--                        <div class="meta">Our team is skilled and opinionated. We act as a part of our client’s team and-->
<!--                            decision process. We use design to get long lasting results, not short term buzz.-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <h3>We know the Chinese market inside &amp; out.</h3>-->
<!--                        <div class="meta">We’re a mix of local and international experts. Most of us were born in China-->
<!--                            or have been here for 10+ years.-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <h3>We’re data-driven.</h3>-->
<!--                        <div class="meta">We focus on results and have a battle-tested approach to tracking our-->
<!--                            progress, whether it is through analytics, data-informed design or continuous delivery.-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <h3>We do not negotiate on quality.</h3>-->
<!--                        <div class="meta">Good, cheap, and fast; you can only have two of these. This means we rarely-->
<!--                            are the cheapest option.-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row">
            <div class="left">
                <h2>联系我们</h2>
            </div>
            <div class="right">
                <ul class="grid-2 padded">
                    <li>
                        <div class="card">
                            <img class="avatar"
                                 src="/assets/logo.jpeg"
                                 alt="Miaowing">
                            <div class="content">
                                <strong>开发工程师</strong>
                                <div class="vcard">
                                    <div class="fn">Miaowing</div>
                                    <a class="tel" href="tel:+8618742038812">(+86) 187 4203 8812</a><br>
                                    <a class="email" href="mailto:me@zf.ink">me@zf.ink</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img class="avatar"
                                 src="/assets/logo.jpeg"
                                 alt="小六">
                            <div class="content">
                                <strong>视觉设计师</strong>
                                <div class="vcard">
                                    <div class="fn">小六</div>
                                    <a class="tel" href="tel:+8617600420030">(+86) 176 0042 0030</a><br>
                                    <a class="email" href="mailto:i@zfeng.net">i@zfeng.net</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{> footer}}
</body>
</html>
