<!DOCTYPE html>
<html lang="en">
<head>
    {{> metadata}}
</head>
<body class="page-front">
{{> header}}
<section id="content">
    <div class="container">
        {{>slogan}}
    </div>
</section>
{{> footer}}
</body>
</html>
