<!DOCTYPE html>
<html lang="en">
<head>
    {{> metadata}}
    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/scripts.js"></script>
</head>
<body class="page-front">
{{> header}}
<section id="content">
    <div class="container">
        {{> slogan}}
        <div class="body">
            <div class="row">
                <div class="left">
                    <h2>i5SING</h2>
                </div>
                <div class="right">
                    <div class="cover two-by-one" style="background-image: url(/assets/i5sing_project.png)"></div>
                    <div class="vcard big-margin-bottom big-margin-top">
                        <a class="hidden" href="https://i5sing.com">中国原创音乐基地桌面客户端</a>
                        <div class="h2 thin">
                            <span>爱音乐，爱原创，爱生活，爱5SING</span>
                        </div>
                        <a class="url" href="https://i5sing.com" target="_blank">Website →</a>
                    </div>
                    <ul class="grid-2 padded">
                        <li>
                            <div class="content">
                                <h3>源于生活</h3>
                                <div class="vcard">
                                    <div>当音乐已成为生活的一部分，生活便赐予了我们淡然与安宁</div>
                                    <div>生，如夏花。曲，如清泉</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>始于热爱</h3>
                                <div class="vcard">
                                    <div>于是，我们有了i5SING</div>
                                    <div>也以此致敬我们所热爱的音乐，我们所热爱的5SING</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <h2>NestCloud</h2>
                </div>
                <div class="right">
                    <div class="cover two-by-one" style="background-image: url(/assets/nestcloud_project.png)"></div>

                    <div class="vcard big-margin-bottom big-margin-top">
                        <a class="hidden" href="https://nestcloud.org">NestCloud</a>
                        <div class="h2 thin">
                            <div>NestJS Micro-Service Solution</div>
                        </div>
                        <a class="url" href="https://nestcloud.org" target="_blank">Website →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}
</body>
</html>
