<nav id="footer">
    <div class="container">
        <div class="row">
            <div class="left">
                <h2>ZF.INK</h2>
            </div>
            <div class="right">
                <ul class="grid padded">
                    <li>
                        <h4>More</h4>
                        <div class="vcard">
                            <a href="https://github.com/miaowing">GitHub</a><br>
                            <a href="https://github.com/nest-cloud">NestCloud</a><br>
                            <a href="https://i5sing.com">i5SING</a><br>
                        </div>
                    </li>
                    <li>
                        <h4>Help</h4>
                        <div class="vcard">
                            <a href="https://github.com/miaowing/zf.ink/issues">Report Bug</a><br>
                            <a href="https://github.com/miaowing/zf.ink">Source Code</a><br>
                        </div>
                    </li>
                    <li>
                        <h4>Get in touch</h4>
                        <a href="mailto:me@zf.ink">me@zf.ink</a><br>
                        <a href="mailto:i@zfeng.net">i@zfeng.net</a><br>
                        <a href="mailto:6606217@qq.com">6606217@qq.com</a>
                    </li>
                </ul>
                <small class="legal big-margin-top">
                    Copyright © 2019 ZF.INK. All right Reserved. {{icp}}
                </small>
            </div>
        </div>
    </div>
</nav>
<script>
    window.cookieconsent.initialise({
        'palette': {
            'popup': {
                'background': '#FF4847',
                'text': '#FFFFFF',
            },
            'button': {
                'background': '#FFFFFF',
                'text': '#FF4847',
            },
        },
    });
</script>
