<header id="header">
    <a href="/" class="logo">
        <img src="/assets/logo.jpeg" alt="miaowing" style="height: 34px; width: 34px;"/>
    </a>

    <button class="icon toggle mobile-only">
        <span>Menu</span>
        <svg viewBox="0 0 24 24">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
        </svg>
    </button>

    <nav class="menu">
        <header class="header mobile-only">
            <a href="/" class="logo">
                <svg viewBox="0 0 104 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.75 -2.41597e-06H-2.41597e-06V47.5L23.75 71.25H39.5833V47.5H23.75V-2.41597e-06Z"
                          transform="translate(0.916656 0.25)"></path>
                    <path d="M23.75 -2.41597e-06H-2.41597e-06V47.5L23.75 71.25H39.5833V47.5H23.75V-2.41597e-06Z"
                          transform="translate(40.5 0.25)"></path>
                    <path d="M23.75 -2.41597e-06H-2.41597e-06V47.5H23.75V-2.41597e-06Z"
                          transform="translate(80.0833 0.25)"></path>
                </svg>
            </a>
            <button class="icon close">
                <span>Close</span>
                <svg viewBox="0 0 24 24">
                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                </svg>
            </button>
        </header>
        <div class="body">
            <a href="/open">Open Source</a>
            <a href="/project">Project</a>
            <a href="/expertise">Outsourcing</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="/links">Links</a>
        </div>
    </nav>

</header>
