<meta charset="utf-8">
<meta name="{{title}}" content="{{bio}}"/>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/assets/normalize.css" rel="stylesheet" type="text/css">
<link href="/assets/styles.css" rel="stylesheet" type="text/css">
<link href="/assets/cookie.min.css" rel="stylesheet" type="text/css">
<script src="/assets/cookie.min.js"></script>
